@*
    
*@
@{
}
@using PrimeMVC.Models;
<h1>This is contact page of student controller</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>gender</th>
        <th>faculty</th>
        <th>grade</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Gender</td>
        <td>@Model.Faculty</td>
        <td>@Model.Grade</td>
    </tr>
</table>